<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/join.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    <title>회원가입</title>
</head>
<body>
    <th:block th:replace="/fragments/header"></th:block>

    <main>
        <div class="main-container">
            <div class="join-page">
                <div class="join-page-line">
                    <div class="path-info">
                        <div class="path-line">
                            <a href="/templates/index.html" class="path-text">홈</a>
                            <strong class="path-text"><span>></span> 회원가입</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-top-text">
                <h2>회원가입</h2>
            </div>
            <div class="sns-login-box">
                <h3>sns 계정으로 회원가입</h3>
                <div class="sns-login-link">
                    <ul>
                        <li>
                            <a href="" class="sns-link-box">네이버로 로그인</a>
                        </li>
                        <li>
                            <a href="" class="sns-link-box">구글로 로그인</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div>
                <table>
                    <tr class="authMember">
                        <th scope="row">회원인증</th>
                        <td>
                            <div class="chk-box-line">
                                <input type="radio" class="check-box">
                                휴대폰인증
                            </div>
                            <div class="auth-link">
                                <a href=""><span>휴대폰 인증</span></a>
                            </div>
                            <p>본인 명의의 휴대폰으로 본인인증을 진행합니다.</p>
                        </td>
                    </tr>
                </table>
                
                <table>
                    <tbody>
                        <tr>
                            <th scope="row">아이디</th>
                            <td>
                                <input type="text" class="login-input">
                                <span class="validation-check errors-invisible"></span>
                                (영문소문자/숫자, 4~16자)
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">비밀번호</th>
                            <td>
                                <input type="password" class="login-input">
                                <span class="validation-check errors-invisible"></span>
                                (영문 대소문자/숫자/특수문자 중 2가지 이상 조합, 8자~16자)
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">비밀번호 확인</th>
                            <td>
                                <input type="password" class="login-input">
                                <span class="validation-check errors-invisible"></span>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">이름</th>
                            <td>
                                <input type="text" class="login-input">
                                <span class="validation-check errors-invisible"></span>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">휴대전화</th>
                            <td>
                                <select name="mobile" class="login-input tel1">
                                    <option value="010">010</option>
                                    <option value="011">011</option>
                                </select>-
                                <input type="tel" class="login-input tel2">-
                                <input type="tel"  class="login-input tel3">
                                <span class="validation-check errors-invisible"></span>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">이메일</th>
                            <td>
                                <input type="email" class="login-input">
                                <span class="validation-check errors-invisible"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="button-line">
                    <button type="button" class="join-button">회원가입</button>
                </div>
            </div>
        </div>
        <script src="/static/js/join.js"></script>
    </main>
</body>
</html>