<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/signup.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>프롬바이오 홈페이지</title>
</head>
<body>
    <header>
        <div class="header-container">
            <div class="bar">
                <div class="top-contents">
                    <div class="bar-top-line">
                        <div class="left-contents">
                            <a href="https://www.facebook.com/frombio.official" target="_blank">
                                <img class="sns-icon" src="/static/images/icon/facebook.png"></a>
                            <a href="https://www.instagram.com/frombio_official/" target="_blank">
                                <img class="sns-icon" src="/static/images/icon/instagram.png"></a>
                            <a href="https://blog.naver.com/frombio8200" target="_blank">
                                <img class="sns-icon" src="/static/images/icon/blog.png"></a>
                            <a href="https://www.youtube.com/channel/UC5MqYNaqTisGPq2ZLuXk9sQ" target="_blank">
                                <img class="sns-icon" src="/static/images/icon/youtube.png"></a>
                        </div>
                        <div class="right-contents">
                            <ul class="account-box-list">
                                <li class="top-list">
                                    <a href="/member/login.html" class="account-link">로그인</a>
                                </li>
                                <li class="top-list">
                                    <a href="/member/join.html" class="account-link">회원가입</a>
                                </li>
                                <li class="top-list">
                                    <a href="/myshop/index.html" class="account-link visible">커뮤니티</a>
                                    <div class="board-box hidden">
                                        <a href="/board/free/list1.html" class="box-list">공지사항</a>
                                        <a href="/board/gallery/list2.html" class="box-list">이벤트</a>
                                        <a href="/board/product/list3.html" class="box-list">상품문의</a>
                                        <a href="/board/review/list4.html" class="box-list">상품후기</a>
                                        <a href="/board/free/list5.html" class="box-list">자주묻는질문</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="middle-bar">
                    <div class="bar-middle-line">
                        <div class="home-link">
                            <a href="/templates/index.html"><img class="site-logo" src="/static/images/icon/site_logo.png"></a>
                        </div>
                        <div class="search-box">
                            <input type="text" class="search-input">
                            <button class="search-btn"><img src="/static/images/icon/search-icon.png" class="search-icon"></button>
                        </div>
                        <div class="item-list">
                            <ul class="item-menu">
                                <li class="item-cart">
                                    <a href="/order/basket.html"><img class="cart-icon" src="/static/images/icon/cart.png"></a>
                                </li>
                                <li class="mypage-menu">
                                    <a href="/myshop/index.html"><img class="profile-icon" src="/static/images/icon/profile.png" alt=""></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="bottom-bar">
                    <div class="bar-menu-line">
                        <div class="bar-menu-icon">
                            <img src="/static/images/icon/menu_icon.png" class="menu-icon-file">
                        </div>
                        <div class="bar-menu-list">
                            <a href="#" class="menu-link-text">전체상품</a>
                            <a href="#" class="menu-link-text">월간프롬바이오</a>
                            <a href="#" class="menu-link-text">보스웰리아</a>
                            <a href="#" class="menu-link-text">매스틱</a>
                            <a href="#" class="menu-link-text">이벤트</a>
                            <a href="#" class="menu-link-text">ARS 간편주문</a>
                            <a href="#" class="menu-link-text">기업</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="/static/js/header.js"></script>
    </header>
    <main>
        <div class="signup-page">
            <div class="signup-page-line">
                <div class="path-info">
                    <div class="path-line">
                        <a href="/templates/index.html" class="path-text">홈</a>
                        <strong class="path-text"><span>></span> 회원가입</strong>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <h2>회원가입</h2>
        </div>
        <div>
            <h2>sns 계정으로 회원가입</h2>
            <a href="">네이버로 로그인</a>
            <a href="">구글로 로그인</a>
        </div>
        <div>
            <div>회원인증</div>
            <div>
                <div>
                    <input type="checkbox">
                    휴대폰인증
                </div>
                <div>
                    <a href=""><img src="">휴대폰 인증</a>
                </div>
                <p>본인 명의의 휴대폰으로 본인인증을 진행합니다.</p>
            </div>
            <table>

                <tbody>
                    <tr>
                        <th scope="row">아이디</th>
                        <td>
                            <input type="text">
                            (영문소문자/숫자, 4~16자)
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">비밀번호</th>
        
                    </tr>
                    <tr>
                        <th scope="row">비밀번호 확인</th>
        
                    </tr>
                    <tr>
                        <th scope="row">이름</th>
        
                    </tr>
                    <tr>
                        <th scope="row">휴대전화</th>
        
                    </tr>
                    <tr>
                        <th scope="row">이메일</th>
        
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>